// component

@import './_variable';
@import './_mixin';

.c-btn {
  border: none;
  background: transparent;
  &_icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
  }
  &_text {
    display: inline-block;
    vertical-align: middle;
    font-size: .85rem;
  }
}

.c-heading {
  @mixin heading-common() {
    font-size: 1.65rem;
    color: $color-font-heading-b;
    letter-spacing: .1rem;
    margin-bottom: 24px;

    @include media-max('2col') {
      font-size: 1.05rem;
      margin-bottom: 16px;
    }
    &_icon,
    &_text {
      display: inline-block;
      vertical-align: middle;
    }
  }

  // 通常 h2~
  &-a {
    @include heading-common();
  }

  // 下線付き h3~
  &-b {
    @include heading-common();

    border-bottom: 2px solid $border-color-heading;
    padding-bottom: 8px;
    margin-bottom: 24px !important;
  }

  // 左線、背景付き h4~
  &-c {
    @include heading-common();

    font-size: 1rem;
    color: $color-font-heading-b;
    letter-spacing: .1rem;
    line-height: 2rem;
    padding-left: 16px;
    border-left: 4px solid $border-color-heading;
    background: $bg-color-heading;
    &_icon,
    &_text {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &--small {
    font-size: 1.15rem;
    margin-bottom: 8px;
    @include media-max('2col') {
      font-size: .9rem;
    }
  }
  &--medium {
    font-size: 1.25rem;
    margin-bottom: 16px;
    @include media-max('2col') {
      font-size: .95rem;
      margin-bottom: 8px;
    }
  }
}

.c-list {
  margin-left: 32px;
  &_item {
    vertical-align: initial;
    @include media-max('2col') {
      font-size: .9rem;
    }
  }
  // パンくず
  &-bc {
    text-align: left;
    width: 800px;
    margin: 0 auto 24px;
    @include media-max('2col') {
      width: 100%;
      margin-bottom: 16px;
    }
    &_item {
      display: inline-block;
      font-size: .85rem;
      @include media-max('2col') {
        font-size: .75rem;
      }
      &:after {
        content: '>';
        margin: 0 4px;
      }
      &:last-child {
        &:after {
          content: none;
        }
      }
    }
  }
  &-detail {
    &_item {
      display: table;
      width: 100%;
      margin-bottom: 16px;
      @include media-max('2col') {
        font-size: .9rem;
        margin-bottom: 8px;
      }
    }
    &_icon {
      display: table-cell;
      width: 40px;
      vertical-align: top;
    }
    &_text {
      display: table-cell;
      padding-bottom: 16px;
      vertical-align: top;
      border-bottom: 1px solid $border-color-list;
      @include media-max('2col') {
        padding-bottom: 8px;
      }
    }
    &_title {
      font-weight: bold;
      margin-bottom: 4px;
    }
    &_content {}
  }

  &-thumb {
    &_item {
      position: relative;
      overflow: hidden;
      display: inline-block;
      width: 300px;
      height: 424px;
      margin-top: 30px;
      margin-right: 30px;
      background: $bg-color-item;
      @include media-min('3col')  {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-top: 0;
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
      @include media-max('3col')  {
        margin-top: 16px;
        &:nth-child(1),
        &:nth-child(2) {
          margin-top: 0;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
      @include media-max('2col')  {
        width: 100%;
        height: calc((100vw - 32px) * 1.414);
        margin-top: 16px !important;
        margin-right: 0;
        &:nth-child(1) {
          margin-top: 0 !important;
        }
      }
    }
    &_img {
      width: 100%;
      transition: transform 300ms;
      &-wrap {
        overflow: hidden;
        display: block;
        width: inherit;
        height: inherit;
        text-decoration: none;
        @include hover() {
          img {
            transform: scale(1.05);
          }
        }
      }
    }
    &_desc {
      position: absolute;
      bottom: 0;
      left: 8px;
      width: calc(100% - 16px);
      text-align: left;
      font-size: 0;
    }
    &_date,
    &_title,
    &_excerpt,
    &_more {
      background: rgba(255, 255, 255, .9);
    }
    &_date {
      font-family: $font-family-en;
      display: inline-block;
      padding: 8px 16px;
      font-size: .8rem;
      color: $color-font-date;
    }
    &_title {
      padding: 16px 16px 8px;
      font-weight: bold;
      font-size: .95rem;
      letter-spacing: .08rem;
      color: $color-font-title;
    }
    &_excerpt {
      max-height: 60px;
      padding: 0 16px 16px;
      font-size: .8rem;
      letter-spacing: .03rem;
      color: $color-font-excerpt;
    }
    &_more {
      text-align: right;
      &-link {
        display: inline-block;
        padding: 0 16px 8px;
        color: $color-font-link;
        font-size: .8rem;
      }
    }
  }
}
