// layout

@import './_variable';
@import './_mixin';

$height-header: 48px;

.l-container {}

.l-header {
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 100%;
  background: $bg-color-header;
  height: $height-header;
  padding: 0 32px;
  border-bottom: 1px solid $border-color-header;
  box-sizing: border-box;
  &_logo {
    font-family: $font-family-en;
    font-size: .8rem;
    line-height: 2em;
    letter-spacing: .3rem;
  }
  @include media-max('2col') {
    padding: 0 16px;
  }
}

.l-footer {
  padding: 0 16px;
  background: $bg-color-footer;
  &_head {
    display: flex;
    justify-content: flex-start;
  }
  &_copyright {
    font-family: $font-family-en;
    font-size: .8rem;
    line-height: 2em;
    letter-spacing: .3rem;
    color: #fff;
  }
  &_btn-top {
    margin-left: auto;
    color: #fff;
    @include media-max('2col') {
      position: fixed;
      z-index: 100;
      bottom: 16px;
      right: 16px;
      width: 40px;
      height: 40px;
      background: $bg-color-footer !important;
    }
    &-icon {}
    &-text {
      font-family: $font-family-en;
      @include media-max('2col') {
        display: none !important;
      }
    }
  }
}

.l-content {
  width: 960px;
  padding: ($height-header + 32px) 0 56px;
  margin: 0 auto;
  text-align: center;
  @include media-max('3col')  {
    width: 100%;
    padding: ($height-header + 16px) 0 32px;
  }
}
