// variable

// color
$color-font-base: #515151;
$color-font-date: #757575;
$color-font-title: #474747;
$color-font-excerpt: #898f94;
$color-font-link: $color-font-base;
$color-font-heading-1: #afafaf;


// bg-color
$bg-color-base: #fff;
$bg-color-footer: #1a1a1a;


// border-color
$border-color-header: #e5e9eb;

// font-family
$font-family-base: 'Noto Sans JP', sans-serif;
$font-family-ja: $font-family-base;
$font-family-en: 'Roboto', sans-serif;
