{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",
				"targets": {
					"ie": 11,
				}
			}
		]
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-proposal-export-default-from",
		"@babel/plugin-proposal-export-namespace-from",
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-proposal-optional-chaining"
	]
}
