<footer class="l-footer">
  <div class="l-footer_head">
    <a
      class="l-footer_copyright"
      href="/"
      data-touch
    >
      ©︎Ashitano Omise Tokyo <%= new Date().getFullYear() %>
    </a>
    <div id="vue-btn-top"></div>
  </div>
</footer>
