<footer class="l-footer">
  <div class="l-footer_head">
    <a
      class="l-footer_copyright"
      href="/"
      data-touch
    >
      <i class="l-footer_copyright-icon material-icons">copyright</i>
      <span class="l-footer_copyright-text">
        <%= global.site_name_en %> <%= new Date().getFullYear() %>
      </span>
    </a>

    <div id="vue-btn-top"></div>
  </div>

  <div class="l-footer_body">
    <a href="/about" class="l-footer_link"><%= global.site_name %>とは</a>
    <span class="u-m4">/</span>
    <a href="/request" class="l-footer_link">掲載依頼</a>
    <span class="u-m4">/</span>
    <a href="/privacy-policy" class="l-footer_link">プライバシーポリシー</a>
  </div>
</footer>
